.popup__input {
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 358px;
  margin: 0 36px 28px;
  padding-bottom: 12px;
}


@media screen and (max-width: 580px) {
  .popup__input {
    margin-bottom: 26px;
    margin-left: 22px;
    width: 238px;
  }
}
