.popup__close-button {
    background-image: url(../../../images/Close.png);
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    background-position: center;
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 0;
    width: 32px;
    height: 32px;
}




